<style type="text/css">
ul {
    margin: 16px 0px 22px 0px ;
    padding: 0px 0px 0px 0px ;
}

li {
    list-style-type: none ;
    background-color: #Ff000 ;
    border: 1px solid #999966;
    border-radius: 4px 4px 4px 4px ;
    float: left ;
    height: 70px ;
    margin: 16px 16px 16px 16px ;
    text-align: center ;
    width: 130px ;
}

.number-fields{
    padding:10px;
    border:1px solid black;
    background:white;
    height: 105px;
}

.button-group{
    float:center;
}

#counter{
    float: left;
    width: 200px;
    height: 70px ;
}

#target{
    float: right;
    width: 200px;
    height: 70px ;
}
</style>
