<div class="hero-unit">

    <div class="number-fields">
    <ul>
        <li
         ng-repeat="number in numbers track by $index"
         ng-controller="MainCtrl"
         ng-model="number">
         <h1>{{ number }}</h1>
    </li>
    </ul>
</div></br>

    <div id="button-group">
        <button title="Pick from the large stack" ng-click="pickLargeNumber()">Large</button>
        <button title="Pick from the small stack" ng-click="pickSmallNumber()">Small</button>
        <button title="Clear, and start again" ng-click="clear()">Clear</button>
        <button title="Start timer" ng-click="initiateCountdown()"
        ng-hide="startTimer">Start</button>
    </div>
<center>
    <div id="item-group" ng-hide="gameInfo">
        <div id="counter">
            <p id="special-p">{{counter}}</p>
        </div>
        <div id="target">
            <p id="special-p">{{target}}</p>
        </div>
    </div>
</center>
</div>
